In [1]:
students = ['Ali','Hamza','Mehdi','Niaz']
for student in students:
    print(student)

Ali
Hamza
Mehdi
Niaz

In [2]:
students = ['Ali','Hamza','Mehdi','Niaz']
for student in students:
    if student == 'Hamza':
        print(f'{student} Nikal')
    else:
        print(f'{student} andar Ajao')

Ali andar Ajao
Hamza Nikal
Mehdi andar Ajao
Niaz andar Ajao

In [4]:
for a in 'pakistan':
    print(a, end=' ')

p a k i s t a n

In [6]:
for num in range(10):
     print(num, end=' ')

0 1 2 3 4 5 6 7 8 9

In [7]:
for num in range(1, 10):
     print(num, end=' ')

1 2 3 4 5 6 7 8 9

In [8]:
start = int(input("Plz Enter Number "))
End = int(input("Plz Enter Number "))

for num in range(start , End):
      print(num, end=' ')

Plz Enter Number 1
Plz Enter Number 2
1

In [10]:
user = int(input("Plz Enter TABLE Number "))
for num in range(1, 10):
    print(f'{user} * {num} = {user} * {num}')

Plz Enter TABLE Number 9
9 * 1 = 9 * 1
9 * 2 = 9 * 2
9 * 3 = 9 * 3
9 * 4 = 9 * 4
9 * 5 = 9 * 5
9 * 6 = 9 * 6
9 * 7 = 9 * 7
9 * 8 = 9 * 8
9 * 9 = 9 * 9

In [15]:
for num in range(25,0,-1):
    
    print(num, end=" ")

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [16]:
user = int(input("Plz Enter TABLE Number "))
for num in range(1, 10):
    if num % 2 == 0:
        continue
    else:
        
        print(f'{user} * {num} = {user} * {num}')

Plz Enter TABLE Number 6
6 * 1 = 6 * 1
6 * 3 = 6 * 3
6 * 5 = 6 * 5
6 * 7 = 6 * 7
6 * 9 = 6 * 9

In [17]:
user = int(input("Plz Enter TABLE Number "))
for num in range(1, 10):
    if num % 2 == 0:
        break
    else:
        
        print(f'{user} * {num} = {user} * {num}')

Plz Enter TABLE Number 6
6 * 1 = 6 * 1

In [18]:
best_friend = []
friends = []
for num in range(10):
    name = input("Enter Your Friend Name : ")
    if name.startswith('a'):
        best_friend.append(name)                                                                        
best_friend

Enter Your Friend Name : mam
Enter Your Friend Name : sjks
Enter Your Friend Name : ali
Enter Your Friend Name : mehdi
Enter Your Friend Name : ss
Enter Your Friend Name : dhd
Enter Your Friend Name : sshs
Enter Your Friend Name : ssjs
Enter Your Friend Name : sjsjs
Enter Your Friend Name : sjs

['ali']

# Neated For loop

In [20]:
for a in [1,2,3,4,5]:
    for b in 'Nazo':
        print(a,b)

1 N
1 a
1 z
1 o
2 N
2 a
2 z
2 o
3 N
3 a
3 z
3 o
4 N
4 a
4 z
4 o
5 N
5 a
5 z
5 o

In [32]:
userone = int(input("Plz Enter TABLE Number "))
usertwo = int(input("Plz Enter TABLE Number "))
for tablenum in range(userone,usertwo):
    print(f"Table Of {tablenum}")
    print("-------------------")
    for num in range(1,11):
        
        print(f'{tablenum} * {num} = {tablenum * num}')
    print("\n")

Plz Enter TABLE Number 2
Plz Enter TABLE Number 4
Table Of 2
-------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


Table Of 3
-------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

# list Comprehension

In [33]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
[num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
[num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]